<h1>Page <%= @id %></h1>
<p><%= link_to "back", :back %> | <%= link_to "next", page_path(@next_id) %></p>
<p>Back to the <%= link_to "beginning", page_path(1) %></p>

<%= link_to "Perform a full refresh", html_with_noscript_pages_path %>

<div refresh-never>
  I should never be refreshed
</div>
